.vc_custom_1475698558278 {
    background-color: #ffffff !important
}

;
.vc_custom_1480617388306 {
    background-color: #f3f3f3 !important;
}

.vc_custom_1480632168358 {
    padding-top: 4.5em !important;
    padding-bottom: 0px !important;
    background-color: #ffffff !important;
}

.vc_custom_1515467442127 {
    padding-top: 8em !important;
    padding-bottom: 4em !important;
    background-color: #f6f6f6 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1516348264672 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-image: url(static/images/28efabf02ea881d89514f659c29d27c0.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1476518568426 {
    margin-top: 3em !important;
}

.vc_custom_1515487984376 {
    margin-bottom: 1.4em !important;
}

.vc_custom_1515487997130 {
    margin-bottom: 2em !important;
}

.vc_custom_1480617342186 {
    margin-bottom: 3em !important;
    padding-top: 3em !important;
    padding-bottom: 1em !important;
    background-color: #ffffff !important;
    border-radius: 4px !important;
}

.vc_custom_1480617352326 {
    margin-bottom: 3em !important;
    padding-top: 3em !important;
    padding-bottom: 1em !important;
    background-color: #ffffff !important;
    border-radius: 4px !important;
}

.vc_custom_1480617356646 {
    margin-bottom: 3em !important;
    padding-top: 3em !important;
    padding-bottom: 1em !important;
    background-color: #ffffff !important;
    border-radius: 4px !important;
}

.vc_custom_1475489009605 {
    padding-right: 12% !important;
    padding-left: 12% !important;
}

.vc_custom_1478695616723 {
    margin-bottom: 3em !important;
}

.vc_custom_1480848943285 {
    padding-top: 6em !important;
    padding-right: 6em !important;
    padding-bottom: 6em !important;
    background-color: #3f51b5 !important;
}

.vc_custom_1478690193829 {
    padding-top: 30vh !important;
    padding-bottom: 30vh !important;
}

.vc_custom_1515488163471 {
    margin-bottom: 1.4em !important;
}

.vc_custom_1515488177791 {
    margin-bottom: 2.4em !important;
}

.vc_custom_1515490882501 {
    margin-bottom: 0px !important;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}