{% extends "./header.html" %} {% block content %}
<style>
    .vc_custom_1515900846999 {
        background-color: #3f51b5 !important;
    }
</style>
<div class="main-content stretched-page">
    <div class="content-width">
        <div class="vc_row_outer">
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid background-effect vc_custom_1515900846999 vc_row-has-fill vc_row-o-content-middle vc_row-flex dark-bg" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner expanded ">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <h2 style="font-size: 2em;line-height: 1.2em;text-align: center" class="vc_custom_heading intro vc_custom_1516271844990">“创意+整合+营销”一体化的服务模式</h2>
                            <h2 style="font-size: 4em;line-height: 4em;text-align: center" class="vc_custom_heading intro vc_custom_1516272032157">前程科技，用品牌创造价值</h2>
                            <div class="basix_icon_standard wpb_content_element ">
                                <div style=" text-align: center;">
                                    <i class="FontAwesome-angle-double-down" style="font-size: 42px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width"></div>
        <div class="vc_row_outer">
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1515901804912 vc_row-has-fill" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner expanded ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  custom_text_1596177335">
                                <div class="wpb_wrapper">
                                    <h2 style="text-align: center;">前程科技–属于我们的团队</h2>

                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  custom_text_1487441279">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;">最值得托付的互联网广告公司——前程，秉承“用心服务客户 &nbsp;追求卓越品质” 的经营理念，不仅注重网站界面设计、互动设计、网站易用性，还注重网站的整体架构分析、网站代码及内容优化、网站是否符合web标准、网站搜索引擎友好性等。</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1515901874687">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="http://iebee.cn/wp-content/uploads/2016/02/02-1.png" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="480" height="270" src="/images/02-1-480x270.png" class="vc_single_image-img attachment-thumbnail" alt="关于我们的照片" srcset="http://iebee.cn/wp-content/uploads/2016/02/02-1-480x270.png 480w, http://iebee.cn/wp-content/uploads/2016/02/02-1-1220x686.png 1220w, http://iebee.cn/wp-content/uploads/2016/02/02-1-768x432.png 768w, http://iebee.cn/wp-content/uploads/2016/02/02-1.png 1280w"
                                                            sizes="(max-width: 480px) 100vw, 480px" title="关于我们 的图片">
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  custom_text_1209178331">
                                                <div class="wpb_wrapper">
                                                    <h4>AGAEEN/网页设计总监</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1515901920222">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="http://iebee.cn/wp-content/uploads/2016/02/0123-1.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="480" height="270" src="/images/0123-1-480x270.jpg" class="vc_single_image-img attachment-thumbnail" alt="关于我们的照片" srcset="http://iebee.cn/wp-content/uploads/2016/02/0123-1-480x270.jpg 480w, http://iebee.cn/wp-content/uploads/2016/02/0123-1-1220x686.jpg 1220w, http://iebee.cn/wp-content/uploads/2016/02/0123-1-768x432.jpg 768w, http://iebee.cn/wp-content/uploads/2016/02/0123-1.jpg 1280w"
                                                            sizes="(max-width: 480px) 100vw, 480px" title="关于我们 的图片">
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  custom_text_1883147852">
                                                <div class="wpb_wrapper">
                                                    <h4>TOMMEN/资深网页设计师</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1515901940677">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="http://iebee.cn/wp-content/uploads/2016/02/0123-1.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="480" height="270" src="/images/0123-1-480x270.jpg" class="vc_single_image-img attachment-thumbnail" alt="关于我们的照片" srcset="http://iebee.cn/wp-content/uploads/2016/02/0123-1-480x270.jpg 480w, http://iebee.cn/wp-content/uploads/2016/02/0123-1-1220x686.jpg 1220w, http://iebee.cn/wp-content/uploads/2016/02/0123-1-768x432.jpg 768w, http://iebee.cn/wp-content/uploads/2016/02/0123-1.jpg 1280w"
                                                            sizes="(max-width: 480px) 100vw, 480px" title="关于我们 的图片">
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  custom_text_1562420052">
                                                <div class="wpb_wrapper">
                                                    <h4>ENMOON/前端工程师</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1515901956782">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="http://iebee.cn/wp-content/uploads/2016/02/PHP-1.png" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="480" height="270" src="/images/PHP-1-480x270.png" class="vc_single_image-img attachment-thumbnail" alt="关于我们的照片" srcset="http://iebee.cn/wp-content/uploads/2016/02/PHP-1-480x270.png 480w, http://iebee.cn/wp-content/uploads/2016/02/PHP-1-1220x686.png 1220w, http://iebee.cn/wp-content/uploads/2016/02/PHP-1-768x432.png 768w, http://iebee.cn/wp-content/uploads/2016/02/PHP-1.png 1280w"
                                                            sizes="(max-width: 480px) 100vw, 480px" title="关于我们 的图片">
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  custom_text_1080268881">
                                                <div class="wpb_wrapper">
                                                    <h4>BAGNNA/PHP程序员</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1515901967885">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="http://iebee.cn/wp-content/uploads/2016/02/01-1.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="480" height="270" src="/images/01-1-480x270.jpg" class="vc_single_image-img attachment-thumbnail" alt="关于我们的照片" srcset="http://iebee.cn/wp-content/uploads/2016/02/01-1-480x270.jpg 480w, http://iebee.cn/wp-content/uploads/2016/02/01-1-1220x686.jpg 1220w, http://iebee.cn/wp-content/uploads/2016/02/01-1-768x432.jpg 768w, http://iebee.cn/wp-content/uploads/2016/02/01-1.jpg 1280w"
                                                            sizes="(max-width: 480px) 100vw, 480px" title="关于我们 的图片">
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  custom_text_466414399">
                                                <div class="wpb_wrapper">
                                                    <h4>ANNA/销售总监</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1515901981126">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <a href="http://iebee.cn/wp-content/uploads/2016/02/03-1.jpg" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img width="480" height="270" src="/images/03-1-480x270.jpg" class="vc_single_image-img attachment-thumbnail" alt="关于我们的照片" srcset="http://iebee.cn/wp-content/uploads/2016/02/03-1-480x270.jpg 480w, http://iebee.cn/wp-content/uploads/2016/02/03-1-1220x686.jpg 1220w, http://iebee.cn/wp-content/uploads/2016/02/03-1-768x432.jpg 768w, http://iebee.cn/wp-content/uploads/2016/02/03-1.jpg 1280w"
                                                            sizes="(max-width: 480px) 100vw, 480px" title="关于我们 的图片">
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element  custom_text_1289574499">
                                                <div class="wpb_wrapper">
                                                    <h4>AMYVE/妙笔文案</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width"></div>
        <div class="vc_row_outer">
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1515901003045 vc_row-has-fill" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner expanded ">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                                <div class="vc_general vc_single_bar vc_progress-bar-color-bar_grey">
                                    <small class="vc_label">官网建设</small>
                                    <span class="vc_bar " data-percentage-value="90" data-value="90"></span>
                                </div>
                                <div class="vc_general vc_single_bar vc_progress-bar-color-bar_grey">
                                    <small class="vc_label">移动APP</small>
                                    <span class="vc_bar " data-percentage-value="80" data-value="80"></span>
                                </div>
                                <div class="vc_general vc_single_bar vc_progress-bar-color-bar_grey">
                                    <small class="vc_label">电子商务</small>
                                    <span class="vc_bar " data-percentage-value="70" data-value="70"></span>
                                </div>
                                <div class="vc_general vc_single_bar vc_progress-bar-color-bar_grey">
                                    <small class="vc_label">门户网站</small>
                                    <span class="vc_bar " data-percentage-value="86" data-value="86"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width"></div>
        <div class="vc_row_outer">
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1515902544375 vc_row-has-fill" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner expanded ">
                        <div class="wpb_wrapper">
                            <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_left vc_sep_color_grey vc_separator-has-text">
                                <span class="vc_sep_holder vc_sep_holder_l">
                                    <span class="vc_sep_line"></span>
                                </span>
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-left">
                                    <div class="vc_icon_element-inner vc_icon_element-color-juicy_pink vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                                        <span class="vc_icon_element-icon fa fa-gg"></span>
                                    </div>
                                </div>
                                <h4>最新案例</h4>
                                <span class="vc_sep_holder vc_sep_holder_r">
                                    <span class="vc_sep_line"></span>
                                </span>
                            </div>
                            <style scoped="">
                                a.link_image:before {
                                    -webkit-border-radius: 2px;
                                    border-radius: 2px;
                                }
                            </style>
                            <!-- Title -->
                            <div class="grid-title">
                                <h2>最新案例</h2>
                            </div>

                            <div class="grid-holder portfolio-grid wpb_content_element  ">

                                <!-- Grid -->
                                <div class="grid-wrapper">
                                    <ul>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/11594/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/03/qiancheng.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">app开发</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/11594/" rel="bookmark">千城</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/z/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/z-1.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">电子商务</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/z/" rel="bookmark">商城Z</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/background/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/shop.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">电子商务</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/background/" rel="bookmark">商城后台</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/shop-s/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/shangchengs-1.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">电子商务</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/shop-s/" rel="bookmark">商城s</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/game/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/qile.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">app开发</div>
                                                <div class="category">其他案例</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/game/" rel="bookmark">七乐游戏</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/newland/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/niulan.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">app开发</div>
                                                <div class="category">其他案例</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/newland/" rel="bookmark">纽澜搬家</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/milk/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/naicha.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">其他案例</div>
                                                <div class="category">电子商务</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/milk/" rel="bookmark">牛奶咖啡</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                        <li class="grid-item vc_col-sm-3">
                                            <!-- Image -->
                                            <a href="http://iebee.cn/portfolio/blue-glod/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/lanjin.png');  border-radius: 2px !important; "></a>
                                            <!-- Categories -->
                                            <div class="categories">
                                                <div class="category">官网建设</div>
                                            </div>
                                            <!-- Title -->
                                            <h3>
                                                <a href="http://iebee.cn/portfolio/blue-glod/" rel="bookmark">蓝金科技</a>
                                            </h3>
                                            <!-- Excerpt -->
                                            <p></p>
                                            <p>查看项目</p>
                                            <p></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width"></div>
    </div>
</div>

{%endblock%}