{% extends "./header.html" %} {% block content %}


<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>


<div class="main-content">

    <div class="title-container   custom" style="">
        <div class="content-width">
            <h1>千城</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">

        <div id="post-11594" class="post-11594 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_category-apps">
            <div class="content-width standard">
                <div class="column-container">
                    <div class="column-one-third portfolio-item-desc">
                        <!-- Content -->
                        <div class="vc_row_outer">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1465874136246 vc_row-o-equal-height vc_row-flex"></div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner expanded ">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element  custom_text_1764733202">
                            <div class="wpb_wrapper">
                                <p>千城是写作爱好者的交流分享平台，在这里有着一群有梦想的朋友。</p>
                                <p>千城追求完美的文学生活和学习分享及交流，关注用户的生活动态。</p>
                                <p>分享自己的生活，寻找懂你的人听。</p>
                                <p>以文会友，一键搜索自己偏爱的文字，和志同道合的他们一起感受文字的魅力。</p>
                                <p>千城，以文会友。</p>

                            </div>
                        </div>
                        <a href="http://www.anzhi.com/pkg/f02b_cn.shuyuyin.html" target="_blank" rel="noopener external nofollow">查看项目</a>
                        <p></p>
                    </div>

                    <div class="column-two-third">
                        <!-- Image -->
                        <div class="grid-item">
                            <div class="link_image aspect_original" style="border-radius: 5px">
                                <img width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/03/qiancheng.png" class="attachment-large size-large wp-post-image" alt="千城的照片" title="千城 的图片">
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>

    </div>
</div>


{%endblock%}