{% extends "./header.html" %} {% block content %}
<div class="main-content stretched-page">
    <div class="content-width">
        <div class="vc_row_outer">
            <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid accent-bg vc_custom_1478086112296 vc_row-has-fill vc_row-o-content-top vc_row-flex dark-bg" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner expanded ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  vc_custom_1515469711753 custom_text_1678103240">
                                <div class="wpb_wrapper">
                                    <h2 style="text-align: center;">留下属于您的足迹，为未来增加一抹不一样的色彩。</h2>

                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1480610434002">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="contactform wpb_content_element " id="contact_5b06ea7e60dda" data-instance="contact_5b06ea7e60dda">
                                                <div class="ajax-output" id="contact_ajaxoutput-contact_5b06ea7e60dda"></div>
                                                <form action="" method="post" id="basix-contact-form-contact_5b06ea7e60dda" autocomplete="off" style="text-align: center" novalidate="novalidate">
                                                    <div class="holder">
                                                        <div class="column-one-third">
                                                            <input type="text" name="message_name" placeholder="您的名字 *" value="">
                                                        </div>
                                                        <div class="column-one-third">
                                                            <input type="text" name="message_email" placeholder="电子邮件 *" value="">
                                                        </div>
                                                        <div class="column-one-third">
                                                            <input type="text" name="message_phone" placeholder="联系电话" value="">
                                                        </div>
                                                        <div class="column-full-width">
                                                            <textarea type="text" name="message_text" placeholder="您的留言 *"></textarea>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="submitted" value="1">
                                                    <button class="button transparent" value="提交邮件" style="float: none; ">提交邮件</button>

                                                    <div style="display: none; float: left; margin-left: 10px; margin-top: 7px; float: none !important; margin-left: 0 !important;" id="contact-loading-contact_5b06ea7e60dda">
                                                        <i class="Basix-spinner basix-ajax-loader" style="margin-right: 5px;"></i>处理中 </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width"></div>
    </div>
</div>{%endblock%}