 {% extends "./header.html" %} {% block content %}

<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>
<div class="main-content">

    <div class="title-container custom" style="">
        <div class="content-width">
            <h1>电子商务</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">
        <div class="content-container">
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 56px;">
                                                        <i class="elegant-expand" style="font-size: 42px;"></i>
                                                    </div>
                                                    <div class="text">
                                                        通过研究经营管理特点、运营目标，分析企业终端客户及市场 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 56px;">
                                                        <i class="elegant-pictures" style="font-size: 42px;"></i>
                                                    </div>
                                                    <div class="text">
                                                        规划网站的内容与功能，根据网站的内容与功能决定网站设计 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 56px;">
                                                        <i class="elegant-adjustments" style="font-size: 42px;"></i>
                                                    </div>
                                                    <div class="text">
                                                        实现网站需求的内容、功能与设计，规划稳定安全的技术方案 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1515486307019 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1515485659189 centered-h2 custom_text_180175681">
                                                    <div class="wpb_wrapper">
                                                        <h2 style="text-align: center;">商城系统-线上+线下渠道+营销，无缝实现o2o</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-aperture" style="font-size: 32px; color: #000000; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>多平台营销</h3>
                                                    </div>
                                                    <div class="text">
                                                        支持苹果、安卓、pc、微信商城等。多平台、多渠道全网覆盖 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-telescope" style="font-size: 32px; color: #000000; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>支持多个搜索引擎</h3>
                                                    </div>
                                                    <div class="text">
                                                        优化SEO，提升搜索营销效果 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-pricetags" style="font-size: 32px; color: #000000; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>第三方推广营销</h3>
                                                    </div>
                                                    <div class="text">
                                                        支持兑换券和礼品，方便在第三方团购平台开展营销业务 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-upload" style="font-size: 32px; color: #000000; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>社会化分享</h3>
                                                    </div>
                                                    <div class="text">
                                                        分享到社交平台，提升商城购买率 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1480503420019 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex dark-bg" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="stretched_column accent-bg wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                        <div class="expanded" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; margin-left: -900px; background-color: #3f51b5 ;;"></div>
                        <div style="z-index: 1;" class="vc_column-inner expanded vc_custom_1480848936153">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1515486149747 custom_text_198200631">
                                    <div class="wpb_wrapper">
                                        <h2>设计+规划+设计</h2>

                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  vc_custom_1515486246912 custom_text_1672660774">
                                    <div class="wpb_wrapper">
                                        <p>设计源于内容规划，内容取决于经营特点与市场分析，技术，是实现内容和设计的最终保障。</p>
                                        <p>将供应商、经销商、用户有机联系在一起，为企业的业务经营与客户提供全新的模式，开辟属于自己的稳定的营销渠道，扩大市场份额，构造全面的交易平台体系。通过网站功能及获得第一手产品市场反馈，为客户建立符合自身特点的交流管理，帮助企业整合线上线下渠道资源。</p>

                                    </div>
                                </div>
                                <a class="button basix_button transparent standard  vc_custom_1515491095077" style="" href="http://shang.qq.com/open_webaio.html?sigt=213e03bf6ee29168881caa814e3b162110e40715ba7bda8abcacf29542036334667001586f577eb9d598e630fa168db8&amp;sigu=84a13c0942c58e6f5ef62e70974cd30fa10f9de2077a5d032e201234d34dfb95df710ac54446d874&amp;tuin=910279464"
                                    target=" _blank">
                                    联系我们 </a>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-xs">
                        <div class="vc_column-inner expanded vc_custom_1478690226276">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
        </div>
    </div>
</div>{%endblock%}