{% extends "./header.html" %} {% block content %}

<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>
<div class="main-content">

    <div class="title-container custom" style="">
        <div class="content-width">
            <h1>行业门户</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">
        <div class="content-container">
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1480618924338 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="basix_icon_standard wpb_content_element ">
                                    <div style=" text-align: center;">
                                        <i class="elegant-genius" style="font-size: 42px;"></i>
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  custom_text_1275846554">
                                    <div class="wpb_wrapper">
                                        <h4 style="text-align: center;">准备好开始了吗？</h4>
                                        <p style="text-align: center;">在如今这个互联网的世界中，与每位客户的互动都非常重要。行业门户能帮助您抓住每个商机，让您整合多个不同渠道意向，并有效促成转化。</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid background-half vc_custom_1516351785590 vc_row-has-fill vc_row-o-content-middle vc_row-flex" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-xs vc_col-has-fill">
                        <div class="vc_column-inner expanded vc_custom_1467407689846">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                    <div class="stretched_column wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                        <div class="expanded" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; margin-right: -900px; background-color: #ffffff ;;"></div>
                        <div style="z-index: 1;" class="vc_column-inner expanded vc_custom_1515491279179">
                            <div class="wpb_wrapper">
                                <h2 style="text-align: left" class="vc_custom_heading vc_custom_1515491688084">智能响应 个性定制 覆盖全网终端</h2>
                                <div style="">
                                    <div class="mini-divider" style="">
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  custom_text_515087664">
                                    <div class="wpb_wrapper">
                                        <p>借助企业门户，企业可以覆盖几乎全部终端与网络营销渠道，无论客户是在使用电脑进行搜索，还是在使用pad浏览资讯，亦或是在刷朋友圈，您的企业门户都具备推送信息与触达能力。</p>

                                    </div>
                                </div>
                                <a class="button basix_button accent standard  vc_custom_1515491587815" style="" href="http://iebee.cn/news-2/" target=" _blank">
                                    案例展示 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1477365196227 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 32px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1476518554832 vc_column-gap-20 vc_row-o-equal-height vc_row-flex dark-bg">
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill dark-bg">
                                        <div class="vc_column-inner vc_custom_1480864315812">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-target" style="font-size: 42px; color: #ffffff; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>定位清晰</h3>
                                                    </div>
                                                    <div class="text">
                                                        针对性强，定位更为明确、清晰。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill dark-bg">
                                        <div class="vc_column-inner vc_custom_1480864320231">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-lifesaver" style="font-size: 42px; color: #ffffff; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>聚合平台</h3>
                                                    </div>
                                                    <div class="text">
                                                        针对行业构建，行业及周边行业信息的综合平台。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill dark-bg">
                                        <div class="vc_column-inner vc_custom_1480864326105">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-focus" style="font-size: 42px; color: #ffffff; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>内外窗口</h3>
                                                    </div>
                                                    <div class="text">
                                                        包含企业门户，内外信息网、协同管理软件，是面向新老客户、业界人士及全社会的窗口。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1476518554832 vc_column-gap-20 vc_row-o-equal-height vc_row-flex dark-bg">
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill dark-bg">
                                        <div class="vc_column-inner vc_custom_1480864315812">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-twitter" style="font-size: 42px; color: #ffffff; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>日常涉外工作</h3>
                                                    </div>
                                                    <div class="text">
                                                        包括营销、技术支持、售后服务、物料采购、社会公共关系处理等 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill dark-bg">
                                        <div class="vc_column-inner vc_custom_1480864320231">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-layers" style="font-size: 42px; color: #ffffff; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>工作类型</h3>
                                                    </div>
                                                    <div class="text">
                                                        涵盖工作类型多，信息量大，访问群体广。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill dark-bg">
                                        <div class="vc_column-inner vc_custom_1480864326105">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-dribbble" style="font-size: 42px; color: #ffffff; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>提高知名度</h3>
                                                    </div>
                                                    <div class="text">
                                                        传播企业文化，便于市场营销优化，网站宣传。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1478685694711 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex dark-bg" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-xs">
                        <div class="vc_column-inner expanded vc_custom_1478690217985">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                    <div class="stretched_column accent-bg wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                        <div class="expanded" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; margin-right: -900px; background-color: #3f51b5 ;;"></div>
                        <div style="z-index: 1;" class="vc_column-inner expanded vc_custom_1480781456012">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1515484337102 custom_text_2108016530">
                                    <div class="wpb_wrapper">
                                        <h2>打造商务交互平台，树立行业权威形象</h2>

                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  vc_custom_1515484353616 custom_text_564515299">
                                    <div class="wpb_wrapper">
                                        <p>浏览者访问网站信息传递有没有达到最好的沟通效果？网站运行快速,安全,稳定,全站优化seo,搜索引擎收录效果优秀，全面的行业分类,商贸机会发布,展会详情,产品介绍,方便的线上,线下联系方式,促成最方便的交易.供应信息,求购信息,展会服务。行业门户需要做到的，你都做到了吗？</p>

                                    </div>
                                </div>
                                <a class="button basix_button transparent standard  vc_custom_1515491610371" style="" href="http://shang.qq.com/open_webaio.html?sigt=10f0303faa4ff1d358c79e34c12d681219ee09eb858ae77f63d53074c84a1667548f23b18f6f56a6e22f86758ad9ccae&amp;sigu=a3f33da9b3f1512366da4c80383ef899c5446c88fb6cfb18d0c87ce89489edf8540897b468f0d838&amp;tuin=910279464"
                                    target=" _blank">
                                    联系我们 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1478538433735 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-refresh" style="font-size: 32px; color: #9c27b0; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>获取商机</h3>
                                                    </div>
                                                    <div class="text">
                                                        覆盖全网门户网站，捕获更多意向客户，获取商机智能管理 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-global" style="font-size: 32px; color: #2196f3; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>全面营销</h3>
                                                    </div>
                                                    <div class="text">
                                                        何时何地都具备推送信息与触达能力，网站覆盖全面终端与网络营销渠道 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-pictures" style="font-size: 32px; color: #e62f40; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>完美展现</h3>
                                                    </div>
                                                    <div class="text">
                                                        凭借技术和服务优势，确保视觉展现效果与众不同，高品质展现企业形象 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element ">
                                                    <div class="icon">
                                                        <i class="elegant-upload" style="font-size: 32px; color: #29a96c; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>高效传播</h3>
                                                    </div>
                                                    <div class="text">
                                                        借助平台工具与服务，传播更快更广，内容分享传播简单快捷，辅助企业实现业务 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
        </div>
    </div>
</div>{%endblock%}