 {% extends "./header.html" %} {% block content %}

<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>
<div class="main-content">

    <div class="title-container custom" style="">
        <div class="content-width">
            <h1>互动营销</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">
        <div class="content-container">
            <div class="vc_row_outer">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                    <div class="vc_toggle_title">
                                        <h4>体验营销</h4>
                                        <i class="vc_toggle_icon"></i>
                                    </div>
                                    <div class="vc_toggle_content">
                                        <p>利用浏览体验，感官体验，交互体验，信任体验。最大提升用户参与和分享的兴趣。提高消费者对品牌的认同。</p>
                                    </div>
                                </div>
                                <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                    <div class="vc_toggle_title">
                                        <h4>数据库营销</h4>
                                        <i class="vc_toggle_icon"></i>
                                    </div>
                                    <div class="vc_toggle_content">
                                        <p>通过专业的数据库挖掘技术，精选出一个数目，使回应率提升。正是网络为营销库营销插上“网络的翅膀”。</p>
                                    </div>
                                </div>
                                <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                    <div class="vc_toggle_title">
                                        <h4>病毒式营销</h4>
                                        <i class="vc_toggle_icon"></i>
                                    </div>
                                    <div class="vc_toggle_content">
                                        <p>制作一个有趣的图解，引起人们好奇去研究，使得图解在网络迅速流传，让浏览者当即就有亲身实验的冲动。</p>
                                    </div>
                                </div>
                                <div id="1515476620801-75918495-202a" class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                    <div class="vc_toggle_title">
                                        <h4>整合营销推广</h4>
                                        <i class="vc_toggle_icon"></i>
                                    </div>
                                    <div class="vc_toggle_content">
                                        <p>多种营销推广渠道与方式，据企业品牌所属行业和用户人群精准投放广告，帮助企业精准传播口碑，实现销售转化。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1478538433735 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 46px;">
                                                        <i class="elegant-puzzle" style="font-size: 32px; color: #dd3333"></i>
                                                    </div>
                                                    <div class="text">
                                                        搜索引擎SEO优化：通过SEO技术对网站内容、结构、链接进行调整，提升网站关键词的竞争力，达到网站的搜索引擎营销的目的。 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 46px;">
                                                        <i class="elegant-speedometer" style="font-size: 32px; color: #dd3333"></i>
                                                    </div>
                                                    <div class="text">
                                                        互动营销拥有成本低，周期短，效率高，回报大的特点，运用优化、植入、分享、传播、发散的营销战略，打造全新的营销时代。 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1478197101291 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1477362411468 no_spacing vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1476782368478">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner vc_custom_1476781865142">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1515481647565 custom_text_658088286">
                                                    <div class="wpb_wrapper">
                                                        <h2>乘数字营销之风，造千万级企业</h2>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1515481658875 custom_text_1828193303">
                                                    <div class="wpb_wrapper">
                                                        <p>这是最好的时代，也是最具挑战的时代，市场瞬息万变，我们面对的，永远是未知的挑战和商机，是选择观望，还是选择突破？</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1515482439375 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 32px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 56px;">
                                                        <i class="elegant-envelope" style="font-size: 42px; color: #dd3333"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h3>电子邮件</h3>
                                                        您的支持是我们前行的动力！
                                                        <br>
                                                        <a href="itcompany@foxmail.com">itcompany@foxmail.com</a>
                                                    </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 56px;">
                                                        <i class="elegant-map" style="font-size: 42px;"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h3>地址</h3>
                                                        中国上海市静安区 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text left-icon wpb_content_element ">
                                                    <div class="icon" style="width: 56px;">
                                                        <i class="elegant-phone" style="font-size: 42px;"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h3>电话</h3>
                                                        18235680917 </div>
                                                </div>



                                                <!-- Standard Icon & Text Element -->



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_left">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                            <img class="vc_single_image-img " src="http://iebee.cn/wp-content/uploads/2018/01/96.png" width="626" height="423" alt="96" title="96">
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="contactform wpb_content_element " id="contact_5b06ed6b98a4d" data-instance="contact_5b06ed6b98a4d">
                                                    <div class="ajax-output" id="contact_ajaxoutput-contact_5b06ed6b98a4d"></div>
                                                    <form action="" method="post" id="basix-contact-form-contact_5b06ed6b98a4d" autocomplete="off" novalidate="novalidate">
                                                        <div class="holder">
                                                            <div class="column-full-width">
                                                                <input type="text" name="message_name" placeholder="您的名字 *" value="">
                                                            </div>
                                                            <div class="column-full-width">
                                                                <input type="text" name="message_email" placeholder="电子邮件 *" value="">
                                                            </div>
                                                            <div class="column-full-width">
                                                                <input type="text" name="message_phone" placeholder="联系电话" value="">
                                                            </div>
                                                            <div class="column-full-width">
                                                                <textarea type="text" name="message_text" placeholder="您的留言 *"></textarea>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="submitted" value="1">
                                                        <button class="button accent" value="提交邮件" style=" width: 100% !important; margin-top: 0.5em; border-radius: 3px !important;">提交邮件</button>

                                                        <div style="display: none; float: left; margin-left: 10px; margin-top: 7px;" id="contact-loading-contact_5b06ed6b98a4d">
                                                            <i class="Basix-spinner basix-ajax-loader" style="margin-right: 5px;"></i>处理中 </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
        </div>
    </div>
</div>{%endblock%}