{% extends "./header.html" %} {% block content %}

<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>
<div class="main-content">

    <div class="title-container custom" style="">
        <div class="content-width">
            <h1>人才招聘</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">
        <div class="content-container">
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1515479066207 vc_row-has-fill" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1476518568426 vc_column-gap-20 vc_row-o-equal-height vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1476519550172">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-quote" style="font-size: 42px; color: #dd3333; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>Java程序员</h3>
                                                    </div>
                                                    <div class="text">
                                                        与产品、设计人员沟通，需求分析；
                                                        <br> 完成产品功能的设计、实现、测试工作；
                                                        <br> 必要的设计、开发、测试文档编写；
                                                        <br> 配合完成团队间工作。
                                                        <p></p>
                                                        <p>&nbsp;</p>
                                                        <p>如果这个人就是你，请点击按钮联系我们！ </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1476519556221">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="FontAwesome-code" style="font-size: 42px; color: #dd3333; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>php工程师</h3>
                                                    </div>
                                                    <div class="text">
                                                        负责公司项目的分析设计与开发工作；
                                                        <br> 改进现有框架、基础构架，提高产品质量；
                                                        <br> 现有产品的优化、新产品的开发；
                                                        <br> 协助测试人员进行软件的功能及性能测试。
                                                        <p></p>
                                                        <p>&nbsp;</p>
                                                        <p>我们更喜欢以创新为乐的你，期待你的加入！ </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1476519562634">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="elegant-tools" style="font-size: 42px; color: #dd3333; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>UI设计师</h3>
                                                    </div>
                                                    <div class="text">
                                                        完成web/移动端产品的界面设计与用户体验研究；
                                                        <p></p>
                                                        <p>准确理解产品需求和交互原型，把控视觉风格；</p>
                                                        <p>输出产品设计规范，行程设计规范文档；</p>
                                                        <p>关注竞品的发展和行业趋势，及时做出反馈。</p>
                                                        <p>&nbsp;</p>
                                                        <p>请附上你的佳作，联系我们！ </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="contactform wpb_content_element " id="contact_5b06ea6b7c764" data-instance="contact_5b06ea6b7c764">
                                    <div class="ajax-output" id="contact_ajaxoutput-contact_5b06ea6b7c764"></div>
                                    <form action="" method="post" id="basix-contact-form-contact_5b06ea6b7c764" autocomplete="off" novalidate="novalidate">
                                        <div class="holder">
                                            <div class="column-one-third">
                                                <input type="text" name="message_name" placeholder="您的名字 *" value="">
                                            </div>
                                            <div class="column-one-third">
                                                <input type="text" name="message_email" placeholder="电子邮箱 *" value="">
                                            </div>
                                            <div class="column-one-third">
                                                <input type="text" name="message_phone" placeholder="联系电话" value="">
                                            </div>
                                            <div class="column-full-width">
                                                <textarea type="text" name="message_text" placeholder="信息 *"></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" name="submitted" value="1">
                                        <button class="button accent" value="提交邮件" style=" width: 100% !important; margin-top: 0.5em; border-radius: 4px !important;">提交邮件</button>

                                        <div style="display: none; float: left; margin-left: 10px; margin-top: 7px;" id="contact-loading-contact_5b06ea6b7c764">
                                            <i class="Basix-spinner basix-ajax-loader" style="margin-right: 5px;"></i>处理中 </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{%endblock%}