{% extends "./header.html" %} {% block content %}


<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>
<div class="main-content">

    <div class="title-container custom" style="">
        <div class="content-width">
            <h1>官网建设</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">
        <div class="content-container">
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid background-half vc_custom_1516350310949 vc_row-has-fill vc_row-o-content-middle vc_row-flex" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-xs vc_col-has-fill">
                        <div class="vc_column-inner expanded vc_custom_1467407689846">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                    <div class="stretched_column wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                        <div class="expanded" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; margin-right: -900px; background-color: #f3f3f3 ;;"></div>
                        <div style="z-index: 1;" class="vc_column-inner expanded vc_custom_1480628566368">
                            <div class="wpb_wrapper">
                                <h3 style="text-align: left" class="vc_custom_heading vc_custom_1515488650658">官网建设</h3>
                                <div style="">
                                    <div class="mini-divider" style="">
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  custom_text_2059582070">
                                    <div class="wpb_wrapper">
                                        <p>通过研究经营管理特点、运营目标，分析企业终端客户及市场</p>
                                        <p>规划网站的内容与功能，根据网站的内容与功能决定网站设计</p>
                                        <p>实现网站需求的内容、功能与设计，规划稳定安全的技术方案</p>

                                    </div>
                                </div>
                                <a class="button basix_button accent standard  vc_custom_1515491396247" style="" href="http://iebee.cn/news-2/" target=" _blank">
                                    案例展示 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1480784552155 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-search" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>较强的视觉分析</h3>
                                                    </div>
                                                    <div class="text">
                                                        利用视觉冲击，及创意水平，提高网站内涵，加深浏览者印象 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-edit" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>先进的网页设计</h3>
                                                    </div>
                                                    <div class="text">
                                                        利用第四代网站技术，将艺术与第四代网站技术完美结合。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-mobile" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>开发交互式网站</h3>
                                                    </div>
                                                    <div class="text">
                                                        以网站访问者为中心，完善服务，与客户一同前行。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-trophy" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>战略规划与执行</h3>
                                                    </div>
                                                    <div class="text">
                                                        吸引新顾客，提升客户满意度，做良好的口碑传播。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1480617381484 vc_row-has-fill vc_row-o-content-middle vc_row-flex" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1515489085010 custom_text_695185111">
                                    <div class="wpb_wrapper">
                                        <h2>“创意+整合+营销”一体化的服务模式</h2>

                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  custom_text_10676644">
                                    <div class="wpb_wrapper">
                                        <p>我们的整合解决方案结合了网络品牌建设经验和互联网整合营销的理念，并将品牌和营销紧密结合，且不断评估并优化我们的方案，因为我们对行业的热爱、创意及执行能力，我们不只是关注视觉个性的建立，我们还创造性地通过营销经验使我们的设计让网站更好的整合，一体化服务模式帮您插上互联网的翅膀！</p>

                                    </div>
                                </div>
                                <a class="button basix_button accent standard  vc_custom_1515491415164" style="" href="http://shang.qq.com/open_webaio.html?sigt=e1bb9a2ae5301867232f57695eeeb571c65a1707cd5d93fc2e9bdaae56b6f3ea1b0a2db7d0fce3d06d573ebf0db721b9&amp;sigu=e2af1835fed1bf2c352def9555053e756b526bd04a4511283bfb5a34c450a45dcca5f89c6c6300c3&amp;tuin=910279464"
                                    target=" _blank">
                                    联系我们 </a>
                            </div>
                        </div>
                    </div>
                    <div class="laptop-section wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill dark-bg">
                        <div class="vc_column-inner expanded vc_custom_1476885615867">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left wpb_start_animation animated">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                            <img width="1085" height="625" src="http://iebee.cn/wp-content/uploads/2018/01/369.png" class="vc_single_image-img attachment-full" alt="官网建设的照片" srcset="http://iebee.cn/wp-content/uploads/2018/01/369.png 1085w, http://iebee.cn/wp-content/uploads/2018/01/369-480x276.png 480w, http://iebee.cn/wp-content/uploads/2018/01/369-768x442.png 768w"
                                                sizes="(max-width: 1085px) 100vw, 1085px" title="官网建设 的图片">
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1480617388306 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1515489181938 centered-h2 custom_text_1240922991">
                                                    <div class="wpb_wrapper">
                                                        <h2 style="text-align: center;">网站建设三部曲</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1476518568426 vc_column-gap-20 vc_row-o-equal-height vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1480617342186">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="FontAwesome-cubes" style="font-size: 42px; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>策划</h3>
                                                    </div>
                                                    <div class="text">
                                                        根据时代、行业、类型打造最合适的形象定位；利用创意将产品和服务还原于真实；利用网页设计，创造新的视觉冲击；利用色彩为浏览者带来丰富的心理体验。增加网站活力，创造最佳的用户体验。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1480617352326">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="FontAwesome-edit pencil-square-o" style="font-size: 42px; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>设计</h3>
                                                    </div>
                                                    <div class="text">
                                                        创意、品牌、特有是团队的宗旨，出众的设计，专注于互联网人机交互与用户体验，以用户体验（包括品牌、使用性、功能性和内容等可量化因素）为指导原则，完整的传达用户的个性和彰显风格。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1480617356646">
                                            <div class="wpb_wrapper">

                                                <!-- Standard Icon & Text Element -->




                                                <!-- Standard Icon & Text Element -->





                                                <!-- Standard Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon">
                                                        <i class="FontAwesome-code" style="font-size: 42px; margin-bottom: 9%; display: inline-block;"></i>
                                                    </div>
                                                    <div class="title">
                                                        <h3>开发</h3>
                                                    </div>
                                                    <div class="text">
                                                        我们拥有一支充满朝气的团队，资深设计师，程序员，策划精英等IT精英。熟练掌握各种编程语言、操作系统和数据库。通过专业服务为客户建设一个用户体验价值高的商业网络平台。 </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1476521064332 vc_row-has-fill" style="position: relative; left: -321.5px; box-sizing: border-box; width: 1903px; padding-left: 321.5px; padding-right: 321.5px;">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="basix_icon_standard wpb_content_element ">
                                    <div style=" text-align: center;">
                                        <i class="elegant-speedometer" style="font-size: 42px; color: #9e9e9e"></i>
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  vc_custom_1515489614614 custom_text_1358350736">
                                    <div class="wpb_wrapper">
                                        <h2 style="text-align: center;">多终端一体化原创网站设计解决方案，全面提升品牌价值感</h2>

                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element  vc_custom_1515489677845 centered-h2 custom_text_1573738711">
                                    <div class="wpb_wrapper">
                                        <p>专注高端品牌网站艰涩会、移动端网站设计、微信深度定制、网络营销推广</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <style scoped="">
                                    a.link_image:before {
                                        -webkit-border-radius: 2px;
                                        border-radius: 2px;
                                    }
                                </style>

                                <div class="grid-holder portfolio-grid wpb_content_element  ">

                                    <!-- Grid -->
                                    <div class="grid-wrapper">
                                        <ul>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/11594/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/03/qiancheng.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">app开发</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/11594/" rel="bookmark">千城</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/z/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/z-1.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">电子商务</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/z/" rel="bookmark">商城Z</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/background/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/shop.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">电子商务</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/background/" rel="bookmark">商城后台</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/shop-s/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/shangchengs-1.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">电子商务</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/shop-s/" rel="bookmark">商城s</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/game/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/qile.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">app开发</div>
                                                    <div class="category">其他案例</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/game/" rel="bookmark">七乐游戏</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/newland/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/niulan.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">app开发</div>
                                                    <div class="category">其他案例</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/newland/" rel="bookmark">纽澜搬家</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/milk/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/naicha.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">其他案例</div>
                                                    <div class="category">电子商务</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/milk/" rel="bookmark">牛奶咖啡</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                            <li class="grid-item vc_col-sm-3">
                                                <!-- Image -->
                                                <a href="http://iebee.cn/portfolio/blue-glod/" class="link_image aspect_16-10" style="background-image:url('http://iebee.cn/wp-content/uploads/2018/01/lanjin.png');  border-radius: 2px !important; "></a>
                                                <!-- Categories -->
                                                <div class="categories">
                                                    <div class="category">官网建设</div>
                                                </div>
                                                <!-- Title -->
                                                <h3>
                                                    <a href="http://iebee.cn/portfolio/blue-glod/" rel="bookmark">蓝金科技</a>
                                                </h3>
                                                <!-- Excerpt -->
                                                <p></p>
                                                <p>查看项目</p>
                                                <p></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}