{% extends "./header.html" %} {% block content %}

<style>
    .header .dark .logo,
    .dark .logo a,
    .header .dark .logo a:hover {
        color: #2a2a2a;
    }
    
    .transparent_header .dark .logo span,
    .transparent_header .dark .logo a span {
        color: #e63041 !important;
    }
    
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav li.current-menu-ancestor>a,
    .header.dark .topnav li.current_page_parent>a,
    .header.dark .topnav li.current-menu-parent>a,
    .header.dark .topnav>li>a,
    .header.dark .search-click:after {
        color: #2a2a2a;
    }
    
    .header.dark .topnav>li:hover>a,
    {
        color: #2a2a2a;
    }
    
    .header.dark .topnav li.menu-item-has-children a:after,
    .header.dark .topnav li.current-menu-item>a,
    .header.dark .topnav>li:hover>a {
        color: #2a2a2a !important;
    }
</style>
<div class="main-content">

    <div class="title-container custom" style="">
        <div class="content-width">
            <h1>服务类型</h1>
        </div>
    </div>

    <div class="main-content-inner content-width title-block">
        <div class="content-container">
            <div class="vc_row_outer">
                <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1480784552155 vc_row-has-fill" style="position: relative; left: -321px; box-sizing: border-box; width: 1902px; padding-left: 321px; padding-right: 321px;">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-desktop" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>官网建设</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p></p>
                                                        <p style="text-align: center;">根据客户不同行业、不同类型，辅以一套特色的网站视觉识别系统，从而提出一个最合适的形象定位。用最合适的展示方式、展示效果、站点框架，把客户及其用户最关心的问题突出表现。</p>
                                                        <p> </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">


                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-wallet" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>电子商务</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p></p>
                                                        <p style="text-align: center;">电子商务开辟属于自己的稳定的营销渠道，扩大市场份额，建立连锁、分销的统一电商运营管理系统的同时还可接触最直接消费者，获得第一手产品市场反馈。</p>
                                                        <p> </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-chat" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>微信开发</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p></p>
                                                        <p style="text-align: center;">微信开启新的变革，实现和特定群体的文字、图片、语音的全方位沟通、互动。PC端、APP手机端、微信、小程序有没有做到四同步。提升企业竞争力，挖掘用户的价值，为你的客户带来从售前到售后的全流程服务，让企业与客户关系更密切。</p>
                                                        <p> </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-circle-compass" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>行业门户</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p></p>
                                                        <p style="text-align: center;">打造商务交互平台树立行业权威形象，针对某一个行业而构建的大型网站，是某个行业的产、供、销供应链以及周边相关行业的企业、产品、商机、咨询类信息等的棸合平台。兼具多种服务功能。</p>
                                                        <p> </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-tablet" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>app开发</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p></p>
                                                        <p style="text-align: center;">实现拥有多种终端，适应不同尺寸显示屏网页，建立用户的良好界面体验。使用标准Web技术开发iOS、Android原生App，各类功能一站聚合、一键接入。涵盖App推送、云修复、版本更新、大数据统计分析等全面运维功能。</p>
                                                        <p> </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">

                                                <!-- Styled Icon & Text Element -->




                                                <!-- Styled Icon & Text Element -->





                                                <!-- Styled Icon & Text Element -->

                                                <div class="basix_icon_text top-icon wpb_content_element  center">
                                                    <div class="icon inline-block" style="margin-bottom: 1em;">
                                                        <div class="icon-bg">
                                                            <div class="icon-holder" style="width: 62px; height: 62px;">
                                                                <div class="icon-holder-inner">
                                                                    <i class="elegant-presentation" style="font-size: 48px;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="title">
                                                        <h3>互动营销</h3>
                                                    </div>
                                                    <div class="text">
                                                        <p></p>
                                                        <p style="text-align: center;">互动营销高效互动 提升业绩，加强与客户之间的交流，利用互联网特性，提升客户管理的准确性、高效性，从而打造品牌、提升销售业绩。运用优化、植入、分享、传播、发散的营销战略，打造全新的营销时代。</p>
                                                        <p> </p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
            <div class="vc_row_outer">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner expanded ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 64px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="wpb_gallery wpb_content_element vc_clearfix">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                                            <ul class="wpb_masonry_gallery" style="position: relative; height: 429.719px;">
                                                <li class="masonry-item" style="position: absolute; left: 0px; top: 0px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/shop.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -1" alt="服务类型的照片 -1" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/shop.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 312px; top: 0px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/aixiezuo.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -2" alt="服务类型的照片 -2" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/aixiezuo.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 625px; top: 0px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/bangwei.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -3" alt="服务类型的照片 -3" width="360" height="240" src="http://iebee.cn/wp-content/uploads/2018/01/bangwei.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 937px; top: 0px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/beimei.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -4" alt="服务类型的照片 -4" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/beimei.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 0px; top: 214px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/jikong.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -5" alt="服务类型的照片 -5" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/jikong.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 312px; top: 214px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/lanjin.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -6" alt="服务类型的照片 -6" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/lanjin.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 937px; top: 214px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/naicha.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -7" alt="服务类型的照片 -7" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/naicha.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                                <li class="masonry-item" style="position: absolute; left: 625px; top: 215px;">
                                                    <a class="prettyphoto link_image" href="http://iebee.cn/wp-content/uploads/2018/01/02.png" data-rel="prettyPhoto[rel-11264-2017224792]">
                                                        <img title="服务类型 的图片 -8" alt="服务类型的照片 -8" width="362" height="241" src="http://iebee.cn/wp-content/uploads/2018/01/02.png" class="attachment-thumbnail">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_empty_space" style="height: 32px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}