{%extends './layout.html'%} {%block content%}
<div class="table-responsive">
    <table class="table table-striped">
        <!-- <caption>条纹表格布局</caption> -->
        <a class="btn btn-default" href="/admin/create-role">+添加模块</a>
        <thead>
            <tr>
                <th>id</th>
                <th>模块名</th>

            </tr>
        </thead>
        <tbody>
            {%for module in moduleList%}
            <tr>
                <td>{{module.id}}</td>
                <td>{{module.name}}</td>

                <td>
                    <button class="btn btn-success">编辑</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}