{%extends './layout.html'%} {%block content%}
<div class="table-responsive">
    <table class="table table-striped">
        <!-- <caption>条纹表格布局</caption> -->
        <a class="btn btn-default" href="/admin/create-role">+添加角色</a>
        <thead>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>角色</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.nickname}}</td>
                <td>系统管理员</td>
                <td>
                    <button class="btn btn-success">编辑</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}